<div class="row">
  <div class="col-12">
    <sp-grid [page]="page" [pageData]="localPageData" [pageGrid]="localPageGrid" [isRoot]="!isRoot"
      [outletKey]="outletKey" (gridAction)="gridAction($event)">
    </sp-grid>

    <ng-container *ngIf="!isRoot" class="not-root mt-3">
      <div *ngIf="localPageGrid.childs" [hidden]="!activePath" class="margin-top-20">
        <sp-page-childs-wrapper [pageChilds]="localChilds" [activePath]="activePath"
          (activatedPath)="activatePath($event)">
          <div class="not-root-page content-box border-box no-border-top">
            <router-outlet *ngIf="outletKey === 'grid1'" name="grid1"></router-outlet>
            <router-outlet *ngIf="outletKey === 'grid2'" name="grid2"></router-outlet>
            <router-outlet *ngIf="outletKey === 'grid3'" name="grid3"></router-outlet>
            <router-outlet *ngIf="outletKey === 'grid4'" name="grid4"></router-outlet>
          </div>
        </sp-page-childs-wrapper>
      </div>
    </ng-container>
  </div>

  <div class="col-12 mt-3">
    <div *ngIf="isRoot" class="root">
      <div *ngIf="localPageGrid.childs" [hidden]="!activePath">
        <sp-page-childs-wrapper [pageChilds]="localChilds" [activePath]="activePath"
          (activatedPath)="activatePath($event)">
          <div class="content-box border-box no-border-top">
            <router-outlet></router-outlet>
          </div>
        </sp-page-childs-wrapper>
      </div>
    </div>
  </div>
</div>